@font-face {
    font-family: 'Friday Night Funkin Font';
    src: url('FridayNightFunkinFont-Rg.woff2') format('woff2'),
        url('FridayNightFunkinFont-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
